* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #2a5298;
    margin-bottom: 20px;
}

select,
textarea,
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2a5298;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1e3c72;
}

.result {
    margin-top: 15px;
    padding: 12px;
    background: #f4f4f4;
    border-radius: 8px;
    min-height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#result {
    flex: 1;
    word-break: break-word;
    line-height: 1.5;
}

#copyBtn {
    width: auto;
    min-width: 90px;
    padding: 8px 12px;
    font-size: 14px;
}